<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= expense.name %></h1>
    <li>id: <%= expense.id %></li>
    <li>cost: <%= expense.cost %></li>
    <li>createdAt: <%= expense.createdAt %></li>
  </body>
</html>
